$white: #ffffff;
$black: #000000;
$primary1: #ff6f3d;
// $primary2: #7f886a;
$primary2: #625a52;
$textCol: #999;
//@import "compass/css3";

body{
  margin-top:20px;
  background:#eee;
}

.prod-info-main {
  border: 1px solid #CEEFFF;
  margin-bottom: 20px;
  margin-top: 10px;
  background: #fff;
  padding: 6px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(21,180,255,0.5);
  box-shadow: 0 1px 1px 0 rgba(21,180,255,0.5);
}

.prod-info-main .product-image {
  background-color: #EBF8FE;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative;
  border: 1px solid #CEEFFF;
  padding-top: 40px;
}

.prod-info-main .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0
}

.prod-info-main .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px
}

.prod-info-main .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px
}

.prod-info-main .product-deatil span.sale {
  background-color: #21c2f8
}

.prod-info-main .product-deatil span.discount {
  background-color: #71e134
}

.prod-info-main .product-deatil span.hot {
  background-color: #fa9442
}

.prod-info-main .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff
}

.prod-info-main .product-info {
  padding: 11px 19px 10px 20px
}

.prod-info-main .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px
}

.prod-info-main name.a {
  padding: 5px 10px;
  margin-left: 16px
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%
}

.product-block .product-deatil p.price-container span,
.prod-info-main .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px
}

.product-info.smart-form .rating label {
  margin-top:15px;

}

.prod-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.prod-wrap .product-image span.tag3 {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 60px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center
}

.prod-wrap .product-image span.sale {
  background-color: #57889c;
}

.prod-wrap .product-image span.hot {
  background-color: #a90329;
}

.prod-wrap .product-image span.special {
  background-color: #3B6764;
}
.shop-btn {
  position: relative
}

.shop-btn>span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px!important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px
}

.product-deatil hr {
  padding: 0 0 5px!important
}

.product-deatil .glyphicon {
  color: #3276b1
}

.product-deatil .product-image {
  border-right: 0px solid #fff !important
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0
}

.product-deatil .name small {
  display: block
}

.product-deatil .name a {
  margin-left: 0
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300;

}

.product-deatil .price-container small {
  font-size: 12px;

}

.product-deatil .fa-2x {
  font-size: 16px!important
}

.product-deatil .fa-2x>h5 {
  font-size: 12px;
  margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
  font-size: 13px
}

.product-deatil .certified {
  margin-top: 10px
}

.product-deatil .certified ul {
  padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
  border-right: none
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center
}

.product-deatil .message-text {
  width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
  .prod-info-main div[class*=col-md-4] {
    padding-right: 0
  }
  .prod-info-main div[class*=col-md-8] {
    padding: 0 13px 0 0
  }
  .prod-wrap div[class*=col-md-5] {
    padding-right: 0
  }
  .prod-wrap div[class*=col-md-7] {
    padding: 0 13px 0 0
  }
  .prod-info-main .product-image {
    border-right: 1px solid #dfe5e9
  }
  .prod-info-main .product-info {
    position: relative
  }
}
/*

 */

@mixin main-font {
  font-family: "Roboto", sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;
  border: 1px solid $col1;
  transition: all .3s;

  &:hover {
    background-color: transparent;
    color: $col1;
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

html {
  overflow-x: hidden;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

section {
  max-width: 1400px;
  margin: auto;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    margin: 0;

  }

  &.heading_center {
    align-items: center;
    text-align: center;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.container_border_style {
  position: relative;
  padding: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 3px;
    height: 90px;
    background-color: $primary1;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/

.header_section {

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.navbar-brand {
  span {
    font-weight: bold;
    color: $black;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.custom_nav-container {
  padding: 10px 0;

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 5px 20px;
        color: $black;
        text-align: center;
        text-transform: uppercase;
      }

      &:hover {
        .nav-link {}
      }
    }
  }
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: $black;
  margin: 0 20px;

  &:hover {}
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $black;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $black;
      top: -10px;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }

    .s-1 {
      transform: rotate(45deg);
      margin: 0;
      margin-bottom: -4px;
    }

    .s-2 {
      display: none;
    }

    .s-3 {
      transform: rotate(-45deg);
      margin: 0;
      margin-top: -4px;
    }
  }

  &[aria-expanded="false"] {

    .s-1,
    .s-2,
    .s-3 {
      transform: none;
    }
  }
}

.quote_btn-container {
  display: flex;
  align-items: center;

  a {
    color: $black;
    text-transform: uppercase;

    span {
      margin-left: 5px;
    }

    &:hover {}
  }
}

/*end header section*/

/* slider section */
.slider_section {
  display: flex;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 90px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 150px;
    right: 150px;
    width: 650px;
    height: 650px;
    transform: translate(50%, -50%);
    background-color: #f3ecdb;
    border-radius: 100%;
    z-index: -1;
  }

  .row {
    align-items: center;
  }

  #customCarousel1 {
    width: 100%;
    position: unset;
  }

  .detail-box {

    h1 {
      font-weight: bold;
      margin-bottom: 15px;

    }

    .btn-box {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
    }

    a {
      margin: 5px;
      width: 175px;
      text-align: center;
    }

    .btn-1 {
      @include hero_btn($primary1, $white, 10px, 15px, 5px);
    }

    .btn-2 {
      @include hero_btn($primary2, $white, 10px, 15px, 5px);
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .carousel-indicators {
    position: unset;
    margin-top: 60px;

    li {
      opacity: 1;
      background-color: $primary2;
      border: none;
      width: 12px;
      height: 12px;
      border-radius: 15px;

      &.active {
        width: 25px;
        background-color: $primary1;
      }
    }
  }
}

// end slider section


// service section

.service_section {
  position: relative;


  .box {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    background-color: #fffefe;
    border-radius: 5px;
    // box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .15);

    .img-box {
      width: 125px;
      height: 125px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      margin-top: 15px;

      h4 {
        font-weight: bold;
        font-size: 22px;
      }

      a {
        color: $primary1;

        &:hover {
          color: $primary2;
        }
      }
    }

  }

}

// end service section

// about section
.about_section {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 150px;
    width: 650px;
    height: 650px;
    transform: translate(-50%, -50%);
    background-color: #f3ecdb;
    border-radius: 100%;
    z-index: -1;
  }

  .row {
    align-items: center;
  }

  .img-box {
    img {
      max-width: 100%;
    }
  }

  .detail-box {
    p {
      color: $textCol;
      margin-top: 15px;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 45px, 5px);
      margin-top: 15px;
    }
  }
}

// end about section

// why section

.why_section {
  position: relative;


  .box {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;

    .img-box {
      width: 125px;
      height: 125px;

      img {
        width: 100%;
      }
    }

    .detail-box {
      margin-top: 15px;

      h4 {
        font-weight: bold;
        font-size: 22px;
      }

      a {
        color: $primary1;

        &:hover {
          color: $primary2;
        }
      }
    }

  }

}

// end why section



// client section

.client_section {
  padding-bottom: 45px;

  .heading_container {
    margin-bottom: 35px;
  }

  .box {
    display: flex;
    align-items: center;
    margin: 45px 0;
    padding: 45px;
    background: linear-gradient(to right, $primary1 115px, $white 115px);
    box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.2);

    .img-box {
      width: 125px;
      height: 125px;
      min-width: 125px;
      position: relative;
      margin-right: 25px;

      img {
        width: 100%;
        border-radius: 100%;
        border: 5px solid $white;
      }
    }

    .client_info {
      display: flex;
      justify-content: space-between;

      .client_name {
        h5 {
          font-weight: bold;
          color: $primary1;
          margin-bottom: 0;
          text-transform: uppercase;
        }

        h6 {
          margin-bottom: 0;
          color: $primary2;
          font-weight: normal;
          font-size: 14px;
          text-transform: uppercase;
        }
      }

      i {
        font-size: 24px;
        color: $primary1;
      }
    }

    p {
      margin-top: 25px;
    }

  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: $primary1;
    opacity: 1;
    font-size: 28px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }
}

// end client section

// contact section
.contact_section {
  position: relative;

  .row {
    align-items: center;
  }

  .heading_container {
    margin-bottom: 25px;
  }

  .form_container {

    input {
      width: 100%;
      border: 1px solid #b0b0b0;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 15px;
      background-color: transparent;
      outline: none;
      color: #101010;

      &::placeholder {
        color: #b0b0b0;
      }

      &.message-box {
        height: 120px;
      }
    }

    .btn_box {
      display: flex;
    }

    button {
      border: none;
      text-transform: uppercase;
      @include hero_btn($primary2, $white, 15px, 65px, 0);
      font-weight: bold;
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 175px;
    right: 150px;
    width: 650px;
    height: 650px;
    transform: translate(50%, -50%);
    background-color: #f3ecdb;
    border-radius: 100%;
    z-index: -1;
  }
}

// end contact section

/* info section */
.info_section {
  // background-color: #1b1a1a;
  background-color: #292725;
  color: $white;
  padding: 75px 0 60px 0;

  .row {
    align-items: center;
  }

  .info_logo {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    .navbar-brand {
      margin: 0;
      padding: 0;

      span {
        color: $white;
        font-size: 36px;
      }
    }
  }

  .info_contact {

    .link-box {
      display: flex;
      align-items: center;
      color: $white;
      margin-bottom: 35px;

      i {
        width: 45px;
        height: 45px;
        line-height: 45px;
        border: 1px solid $primary1;
        text-align: center;
        border-radius: 5px;
        font-size: 18px;
        margin-right: 10px;
      }

      &:hover {
        span {
          color: $primary1;
        }
      }
    }
  }

  .info_form {
    margin-bottom: 35px;

    form {
      display: flex;

      input {
        flex: 1;
        height: 45px;
        border: none;
        padding-left: 10px;
      }

      button {
        width: 45px;
        height: 45px;
        background-color: $primary1;
        color: $white;
        border: none;
        outline: none;
        font-size: 12px;
        margin: 0;
      }
    }
  }

  .social-box {
    display: flex;
    justify-content: center;

    a {
      margin: 0 5px;
      color: $white;
      font-size: 20px;

      &:hover {
        color: $primary1;
      }
    }
  }
}

/* end info section */

/* footer section*/

.footer_section {
  position: relative;
  background-color: #292725;
  text-align: center;

  p {
    color: $white;
    padding: 20px 0;
    margin: 0;
    border-top: 1px solid $white;

    a {
      color: inherit;
    }
  }
}

// end footer section