<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Saurav">


  <div th:replace="~{fragments :: style}"></div>
</head>

<body class="bg-light">

<div th:replace="~{fragments :: menu}"></div>

<div class="container">
  <div class="py-5 text-center">
    <h2>LOG IN</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form th:action="@{/login}" method="post">
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" name="password" class="form-control">
        </div>
          <hr class="mb-4">
          <button type="submit" class="btn btn-primary btn-lg btn-block">LOG IN</button>
        </form>
    </div>
  </div>
</div>
</body>
</html>
