<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>


<div th:replace="~{fragments :: style}"></div>
<div th:replace="~{fragments :: menu}"></div>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div  class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                <table th:each="product: ${cartItems}" id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th style="width:60%">Product</th>
                        <th style="width:12%">Price</th>
                        <th style="width:10%">Quantity</th>
                        <th style="width:16%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-th="Product">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    <img th:src="${product.product.getImage()}" alt=""
                                         class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                </div>
                                <div class="col-md-9 text-left mt-sm-2">
                                    <h4 th:text="${product.product.getName()}"></h4>
                                    <p th:text="${product.product.getCategory().getCategoryName()}" class="font-weight-light"></p>
                                </div>
                            </div>
                        </td>
                        <td th:text="${product.product.getPrice()} + ' PLN'" data-th="Price"></td>
                        <td data-th="Quantity">
                            <span th:text="${product.getQuantity()}" type="number" class="form-control form-control-lg text-center" />
                        </td>
                        <td class="actions" data-th="">
                            <div class="text-right">
                                <a th:href="'/deleteFromCart/' + ${product.product.getId()}" >
                                    <div class="btn btn-white border-secondary bg-white btn-md mb-2">
                                        <i class="fas fa-trash"></i>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div  class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1 th:text="${price} + ' PLN'"></h1>


                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a th:href="@{/cart/checkout}" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a th:href="@{/index}">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments :: footer}"/>

<!-- jQery -->
<script src="js/cart.js"></script>
<!-- bootstrap js -->
<script src="js/cart-bootstrap.js"></script>
<!-- custom js -->
<script src="js/pooper-cart.js"></script>
</body>
</html>