<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>MaMiJa</title>


    <div th:replace="~{fragments :: style}"></div>

</head>

<body>

<div th:replace="~{fragments :: menu}"></div>


<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header"><b>Account Details</b></div>
                <div class="card-body">
                    <form th:action="@{/user/account/editAccount}" method="post" th:object="${user}">
                        <div class="form-group">
                            <p> Your Username </p>
                            <input type="text" th:field="*{userName}" class="form-control" id="userName"
                                   placeholder="Enter your username">
                            <p class="help-block text-danger"></p>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" >First name</label>
                                <input th:field="*{firstName}" class="form-control"  type="text"
                                       placeholder="Enter your first name" />
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Last name</label>
                                <input th:field="*{lastName}" class="form-control" id="inputLastName" type="text"
                                       placeholder="Enter your last name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input th:field="*{email}" class="form-control" id="inputEmailAddress" type="text"
                                   placeholder="Enter your email address">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div th:object="${userAddress}" class="card-header"><b>Address Details</b>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" >City</label>
                                    <input th:field="*{city}" class="form-control"  type="text"
                                           placeholder="Enter your city">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1">Post Code</label>
                                    <input th:field="*{postCode}" class="form-control" type="text"
                                           placeholder="Enter your post code">
                                    <div class="alert alert-warning" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></div>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <label class="small mb-1" >Building Number</label>
                                    <input th:field="*{buildingNumber}" class="form-control" type="tel" placeholder="Enter your building number">
                                </div>
                                <div class="col-md-6">
                                    <label class="small mb-1">Flat number</label>
                                    <input th:field="*{flatNumber}" class="form-control" type="text" name="birthday"
                                           placeholder="Enter your flat number">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="small mb-1">Street</label>
                                <input th:field="*{street}" class="form-control" type="text" placeholder="Enter your street">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3"></div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress"><b>Enter your password to confirm changes</b> </label>
                            <input th:field="*{password}" class="form-control" id="inputPassword" type="text"
                                   placeholder="Enter your password">
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class="row gx-3 mb-3"></div>
                        <div>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"/>

<div th:replace="~{fragments :: js_scripts}"/>
</body>

</html>