<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>MaMiJa</title>


  <div th:replace="~{fragments :: style}"></div>

</head>

<body>

  <div th:replace="~{fragments :: menu}"></div>

  <!-- slider section -->
  <section class="slider_section ">
    <div class="container ">
      <center><h2>HOT PRODUCTS</h2></center>
      <div class="row">
        <div th:each="product : ${randomProducts}" class="col-md-6 col-lg-4">
          <div class="box ">
            <img th:src="${product.getImage()}" width="200" height="180" class="img-responsive">
            <div class="product-detail">
              <h5 class="name">
                <a th:text="${product.getName()}">
                </a>
              </h5>
              <p th:text="${product.getPrice()} + ' PLN'" class="price-container">
              </p>
              <span class="tag1"></span>
            </div>
            <div class="description">
              <p th:text="'IN STOCK ' + ${product.getAvailableAmount()} + ' MORE PRODUCTS'" ></p>
            </div>
            <div class="product-info smart-form">
              <div class="row">
                <div class="col-md-12">
                  <a th:href="'/buyNow/' + ${product.getId()}" class="btn btn-danger">Buy now</a>
                  <a th:href="'/product/details/' + ${product.getId()}" class="btn btn-info">More info</a>
                </div>
                <div class="col-md-12">
                  <br>

                  <div class="rating">Rating:
                    <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                    <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                    <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                    <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                    <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end slider section -->

  <!-- shop section -->

  <section class="service_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Categories
        </h2>
      </div>
    </div>
    <div  class="container ">
      <div   class="row">
        <div th:each="categoryId : ${categories}" class="col-md-6 col-lg-4">
          <div  class="box ">
              <img th:src="${categoryId.getImage()}" class="img-responsive" width="200" height="200">
            <div class="detail-box">
              <h4 th:text="${categoryId.getCategoryName()}">
              </h4>
              <div class="col-md-6 col-lg-5">
                <div class="detail-box">
                  <div class="prod-info-main prod-wrap clearfix">
                  </div>
                </div>
              </div>
              <div>
                <a th:href="'/shop/allProducts/' + ${categoryId.getId()} ">View more</a>
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      </div>
    </div>
  </section>

  <!-- end shop section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose Us
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/w1.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Best Prices
              </h4>
              <p>
                We have best prices in the internet! You will always be satisfied
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto ">
          <div class="box ">
            <div class="img-box">
              <img src="images/w2.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Free Shipping
              </h4>
              <p>
                We have assigment with InPost and PocztaPolska. Our shipping is always free!
              </p>
<!--              <a href="">-->
<!--                Read More-->
<!--                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>-->
<!--              </a>-->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box ">
            <div class="img-box">
              <img src="images/w3.png" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Wide variety of products
              </h4>
              <p>
                We have a lot of different products. You always will find something for yourself!
              </p>
<!--              <a href="">-->
<!--                Read More-->
<!--                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>-->
<!--              </a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- client section -->
  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
        <p>
          Even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
        </p>
      </div>
    </div>
    <div class="container px-0">
      <div id="customCarousel2" class="carousel  slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/client.jpg" alt="">
                    </div>
                    <div class="detail-box">
                      <div class="client_info">
                        <div class="client_name">
                          <h5>
                            Morojink
                          </h5>
                          <h6>
                            Customer
                          </h6>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugia
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/client.jpg" alt="">
                    </div>
                    <div class="detail-box">
                      <div class="client_info">
                        <div class="client_name">
                          <h5>
                            Morojink
                          </h5>
                          <h6>
                            Customer
                          </h6>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugia
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-10 mx-auto">
                  <div class="box">
                    <div class="img-box">
                      <img src="images/client.jpg" alt="">
                    </div>
                    <div class="detail-box">
                      <div class="client_info">
                        <div class="client_name">
                          <h5>
                            Morojink
                          </h5>
                          <h6>
                            Customer
                          </h6>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugia
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end client section -->

  <div th:replace="~{fragments :: contact}"/>




  <div th:replace="~{fragments :: footer}"/>

  <div th:replace="~{fragments :: js_scripts}"/>
</body>

</html>