<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />


  <title>MaMiJa</title>


  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/orderhistory.css}" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <link  th:href="@{/css/responsive.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="~{fragments :: menu}"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
  <h2>Order History</h2>
  <ul th:each="order : ${orderHistory}"  class="responsive-table">
    <li class="table-header">
      <div class="col col-1"><b>Order Id</b></div>
      <div class="col col-2"><b>Ordered By</b></div>
      <div class="col col-3"><b>Price of order</b></div>
      <div class="col col-4"><b>Ordered on</b></div>
    </li>
    <li class="table-row">
      <div th:text="${order.getOrderId()}" class="col col-1" ></div>
      <div class="col col-2" data-label="Customer Name">John Doe</div>
      <div th:text="${order.getValueOfOrder()} + ' PLN'" class="col col-3" ></div>
      <div th:text="${order.getOrderTimeStamp()}" class="col col-4" ></div>
    </li>
    <li class="table-header">
      <div class="col col-1"><b>Ordered items</b></div>
      <div class="col col-2"><b>Item Name</b> </div>
      <div class="col col-3"><b>Quantity</b></div>
      <div class="col col-4"><b>Unit price</b></div>
    </li>
    <li th:each="orderedItemsWithQuantity : ${order.getProductQuantityMap()}" class="table-row">
      <div class="col col-1" > <img th:src="${orderedItemsWithQuantity.key.getImage()}" th:width="50" , th:height="50"> </div>
      <div  th:text="${orderedItemsWithQuantity.key.getName()}" class="col col-2" ></div>
      <div th:text="${orderedItemsWithQuantity.value}" class="col col-3" ></div>
      <div th:text="${orderedItemsWithQuantity.key.getPrice()} + ' PLN'" class="col col-4" ></div>
    </li>

  </ul>
</div>

</body>
</html>