<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />


  <title>MaMiJa</title>


  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/orderhistory.css}" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link th:href="@{/css/style.css}" rel="stylesheet"/>
  <link  th:href="@{/css/responsive.css}" rel="stylesheet"/>

</head>

<body>

<div th:replace="~{fragments :: menu}"></div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <div th:each="order : ${orderHistory}" class="card">
        <div class="card-header">
          <h4>Order History</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Order Id</th>
                <th></th>
                <th>Price of order</th>
                <th>Ordered on</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td th:text="${order.getOrderId()}">
                </td>
                <td></td>
                <td th:text="${order.getValueOfOrder()} + ' PLN'"></td>
                <td th:text="${order.getOrderTimeStamp()}"></td>
              <thead>
              <tr >
                  <th >Ordered items</th>
                  <th >Name</th>
                  <th >Quantity</th>
                  <th >Unit price</th>
              </thead>
              <tr th:each="orderedItemsWithQuantity : ${order.getProductQuantityMap()}" >
                  <th ><img th:src="${orderedItemsWithQuantity.key.getImage()}" th:width="50" , th:height="50"></th>
                  <th th:text="${orderedItemsWithQuantity.key.getName()}"></th>
                  <th th:text="${orderedItemsWithQuantity.value}"> </th>
                  <th th:text="${orderedItemsWithQuantity.key.getPrice()} + ' PLN'"></th>
              </tr>
              </tr>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>