<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>MaMiJa</title>


    <div th:replace="~{fragments :: style}"></div>

</head>

<body>

<div th:replace="~{fragments :: menu}"></div>

<!-- shop section -->

<section class="service_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Categories
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div th:each="categoryId : ${categoriesId}"  class="box ">
                    <div class="img-box">
                        <img th:src="${categoryId.getImage()}" alt="">
                    </div>
                    <div class="detail-box">
                        <h4 th:text="${categoryId.getCategoryName()}">
                        </h4>
                            <div class="col-md-6 col-lg-5">
                                <div class="detail-box">
                                    <div class="prod-info-main prod-wrap clearfix">
                                    </div>
                                </div>
                            </div>
                        <div>
                            <a th:href="'/shop/allProducts/' + ${categoryId.getId()} ">View more</a>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end shop section -->
<div th:replace="~{fragments :: footer}"/>

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>


</body>

</html>