<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Motora</title>


    <div th:replace="fragments :: style"></div>

</head>

<body>

<div th:replace="fragments :: menu"></div>

<!-- shop section -->

<section class="service_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Categories
            </h2>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/s1.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            SPORT
                        </h4>
                        <p>
                            Everything you need for sport!

                        </p>
                        <a th:href="@{/shop/product-list}">
                            <div class="col-md-6 col-lg-5">
                                <div class="detail-box">
                                    <div class="prod-info-main prod-wrap clearfix">
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/shop/productsList}">View more</a>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <hr style="color: #0c0c0c;">
                            <div class="product-detail">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">

                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">

                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="color: #0c0c0c;">
                            <div>


                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/s2.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            House
                        </h4>
                        <p>
                            You will find here anything you need for your house!
                        </p>
                        <a th:href="@{/shop/product-list}">View more</a>

                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <hr style="color: #0c0c0c;">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">

                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">
                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr style="color: #0c0c0c;">

                            <div class="product-deatil">
                                <h5 class="name">
                                    <a href="#">
                                        Product Code/Name here
                                    </a>
                                    <a href="#">
                                        <span>Product Category</span>
                                    </a>

                                </h5>
                                <p class="price-container">
                                    <span>$199</span>
                                </p>
                                <span class="tag1"></span>
                            </div>
                            <div class="description">
                                <p>A Short product description here </p>
                            </div>
                            <div class="product-info smart-form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                        <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                    </div>
                                    <div class="col-md-12">
                                        <br>

                                        <div class="rating">Rating:
                                            <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                            <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                            <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ">
                <div class="box ">
                    <div class="img-box">
                        <img src="images/s3.png" alt="">
                    </div>
                    <div class="detail-box">
                        <h4>
                            Electronic
                        </h4>
                        <p>
                            Electronic and other related stuff

                        </p>
                        <a href="">
                            View more
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            <hr style="color: #0c0c0c;">
                        </a>
                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">
                                    Product Code/Name here
                                </a>
                                <a href="#">
                                    <span>Product Category</span>
                                </a>

                            </h5>
                            <p class="price-container">
                                <span>$199</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>A Short product description here </p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                    <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                </div>
                                <div class="col-md-12">
                                    <br>

                                    <div class="rating">Rating:
                                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color: #0c0c0c;">

                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">
                                    Product Code/Name here
                                </a>
                                <a href="#">
                                    <span>Product Category</span>
                                </a>

                            </h5>
                            <p class="price-container">
                                <span>$199</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>A Short product description here </p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                    <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                </div>
                                <div class="col-md-12">
                                    <br>

                                    <div class="rating">Rating:
                                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color: #0c0c0c;">
                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">
                                    Product Code/Name here
                                </a>
                                <a href="#">
                                    <span>Product Category</span>
                                </a>

                            </h5>
                            <p class="price-container">
                                <span>$199</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>A Short product description here </p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                    <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                </div>
                                <div class="col-md-12">
                                    <br>

                                    <div class="rating">Rating:
                                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr style="color: #0c0c0c;">

                        <div class="product-deatil">
                            <h5 class="name">
                                <a href="#">
                                    Product Code/Name here
                                </a>
                                <a href="#">
                                    <span>Product Category</span>
                                </a>

                            </h5>
                            <p class="price-container">
                                <span>$199</span>
                            </p>
                            <span class="tag1"></span>
                        </div>
                        <div class="description">
                            <p>A Short product description here </p>
                        </div>
                        <div class="product-info smart-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="javascript:void(0);" class="btn btn-danger">Add to cart</a>
                                    <a href="javascript:void(0);" class="btn btn-info">More info</a>
                                </div>
                                <div class="col-md-12">
                                    <br>

                                    <div class="rating">Rating:
                                        <label for="stars-rating-5"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-4"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-3"><i class="fa fa-star text-danger"></i></label>
                                        <label for="stars-rating-2"><i class="fa fa-star text-warning"></i></label>
                                        <label for="stars-rating-1"><i class="fa fa-star text-warning"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- end shop section -->


<div th:replace="fragments :: footer"/>

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>


</body>

</html>