<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon.png" type="image/gif"/>


    <title>MaMiJa</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/orderhistory.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/responsive.css}" rel="stylesheet"/>

</head>
<body>
<div th:replace="~{fragments :: menu}"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"

      integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
<div class="container">
    <h2><b>USER LIST</b></h2>
    <ul  class="responsive-table">
        <li class="table-header">
            <div class="col col-1"><b>Name</b></div>
            <div class="col col-1"><b>Last Name</b></div>
            <div class="col col-2"><b>E-mail</b></div>
            <div class="col col-3"><b>Enabled</b></div>
            <div class="col col-4"><b>Options</b></div>
        </li>
        <li th:each=" user : ${users}" class="table-row">
            <div th:text="${user.getFirstName()}" class="col col-1" ></div>
            <div th:text="${user.getLastName()}" class="col col-1" ></div>
            <div th:text="${user.getEmail()}" class="col col-2" ></div>
            <div  th:text="${user.getEnabled()} ? 'ENABLED' : 'BANNED'" class="col col-3" ></div>
            <div  class="col col-4" >
                <a th:href="'/admin/userList/banOrUnban/' + ${user.getId()}"  class="btn btn-info"/>
                BAN / UNBAN</a>
                <a th:href="'/admin/userList/delete/' + ${user.getId()}"  class="btn btn-danger"/>
                DELETE</a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>

